@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
  
  
}
a{
    text-decoration: none;
}

html{
    font-size: 63.5%;
}
 :root{
    --btn-color:rgb(242, 235, 235);
    --mainColor-color:#0db907;
    --background-color:#0f0f0f;
    --background-color:black;

 }

body{
    background-color:var(--background-color);
    color:var(--mainColor-color);

}

/* ?navbar starts */


.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.logo{
        width: 12rem;
        height: auto;
        margin:0.7rem 0 0 0.5rem;
        
}

.user-png{
    padding: 2px;
    width: 2rem;
    margin-right: 1rem;
    border: 2px solid var(--mainColor-color);
    border-radius:50% ;
}



.search-icon-tag{
    display: inline-block;
    width: 39px;
    height: 39px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.fa-solid{
    /*border: 2px solid var(--mainColor-color);
    *//*right: 0px;
    */font-size: 1.2rem;
    margin-right: 0.2rem;
    color: #0db907;
}

.search-box{
    /* justify-content: start; */
    width: 23rem;
    height: 1.7rem;
    border-right: 2px solid #0db907;
    background-color: var(--background-color);
    color: var(--mainColor-color);
    outline: none;
    font-size: 1.3rem;
    padding-left:5px ;
}

.search-input{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    height:2rem;
    border: 2px solid #0db907;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.home-buttons ul li{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    /* gap: 5px; */
    /* margin-left: 10rem; */
    font-size: 1.1rem;
    word-spacing: 2px;
    letter-spacing: 2px;
   
}
    
li a{
    list-style-type: none;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
     color:var(--mainColor-color);
    text-decoration: none;
    

         &::after{
            content: "";
            position: absolute;
            width: 0%;
            bottom: -1px;
            left: 0;
            border-bottom: 1px solid var(--mainColor-color);
            display: inline-block;
            transition: width .3s linear;
            -webkit-transition: width .3s linear;
            -moz-transition: width .3s linear;
            -ms-transition: width .3s linear;
            -o-transition: width .3s linear;
}
        &:hover::after{
        width: 100%;

        }



}
    
    



.nav-container{
    padding: 1rem .2rem;
}

.home-buttons ul li :not(:first-child){
    margin-left: 2rem;
}


/*? navbar ends here */
  

/* ?main section starts */

main{
    display: flex;
    flex-direction:column ;
    

}

.bmw-section-01{
    background-color: var(--background-color);
    margin-bottom: 4rem;

}

.grid{
    display: grid;
    margin: 0 3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-right: 1rem;
    align-items: center;
    /* gap: 10rem; */
}

.grid-two-coluns{
    grid-template-columns: repeat(2,1fr);

}

.explore-btn{
    display: inline-block;
    background-color: var(--mainColor-color);
    width: 8rem;
    padding: .2rem .3rem;
    & a{
        color: var(--btn-color);
        text-decoration: none;
    }
    
}

.explore-btn a:hover{
    background-color: #074d05;
    cursor: pointer;
}

.bmw-image{
    background-repeat: no-repeat;
    width:100%;
}

.bmw-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & h1{
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: .2rem;
    text-transform: uppercase;

    }
    & p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

/* CARDS SECTION STARTS */

.cards-section-02{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    gap: 3rem;
    width: 100%;
    /* margin-top: 2rem; */
    /* height: auto; */
}
.cars{
    display: flex;
    align-items: center;
    width: 95%;
    height: 459px;
    box-shadow: 2px -5px 86px -60px rgba(55,204,70,0.75);
    background-color:var(--background-color);
    /* border: .1px solid black; */
    /* border-radius: 3rem; */
    
}
.cars a{
    display: flex;
    justify-content: center;
    width: 75.3rem;
    align-items: center;
    background-color:var(--background-color);
    /* display: inline-block; */
    /* position: relative; */
    & .muscle{

    }
    
}
.car{
    width: 60%;
    /* height: 459px; */
    /* position: absolute; */
}
