@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
  
  
}

html{
    font-size: 63.5%;
}
 :root{
    --mainColor-color:#0db907;
    --background-color:#0f0f0f;

 }

body{
    background-color:var(--background-color);
    color:var(--mainColor-color);
}

/* ?navbar starts */

a{

    color:var(--mainColor-color);
    text-decoration: none;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
        width: 12rem;
        height: auto;
        margin:0.7rem 0 0 0.5rem;
        
}

.user-png{
    width: 1.5rem;
    margin-right: 1rem;

    
}

li{
    list-style-type: none;
}


.search-icon-tag{
    display: inline-block;
    width: 39px;
    height: 39px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;

    


}
.fa-solid{

    /* border: 2px solid var(--mainColor-color); */
    /* right: 0px; */
    font-size: 1.2rem;
    margin-right: 0.2rem;
    
}

.search-box{
    /* justify-content: start; */
    width: 23rem;
    height: 1.7rem;
    border-right: 2px solid #0db907;
}

.search-input{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    height:2rem;
    border: 2px solid #0db907;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.home-buttons ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1.3rem;
    /* margin-left: 10rem; */
    font-size: larger;
    

    &li a{
        display: inline-block;
        position: relative;
    }
    
}
    
    
    



.nav-container{
    padding: 1.5rem;
}

.home-buttons ul li :not(:first-child){
    margin-left: 2rem;
}

.home-buttons ul li a::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            border: 3px solid green;
}

/*? navbar ends here */


/* ?main section starts */


